.card-materia {
    border-left: 5px solid #0e3e4c;
    transition: transform 0.2s ease-in-out;
}

.card-materia:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}