{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='panel_e.css') }}">
{% endblock %}

{% block content %}

<!-- SIDEBAR -->
<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <span onclick="toggleSidebar()" class="menu-icon">☰</span>
        <span>Menú</span>
    </div>

    <a href="{{ url_for('panel_estudiante') }}">Inicio</a>
    <a href="{{ url_for('asignaturas') }}">Asignaturas</a>
    <a href="{{ url_for('mis_estadisticas') }}">Mis estadísticas</a>
    <a href="{{ url_for('planes_mejoramiento') }}">Planes de mejoramiento</a>
    <a href="{{ url_for('perfil_e') }}">Perfil</a>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>
</aside>

<!-- CONTENIDO -->
<div class="main-content">
    {% block contenido_estudiante %}
    {% endblock %}
</div>

{% block scripts %}
<script>
function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("active");
}
</script>
{% endblock %}

{% endblock %}